/* CSS Document */
@charset "utf-8";

/* GLOBAL */
html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; /* width and height include content, padding and border */
}
*, *:before, *:after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;
}
body {
  margin-top: 90px;
  font-size: 12pt;
  background-color: white;
  color: rgba(99,101,105,1.0);
}
.colour-nav {
  background-color: white;
  color: rgba(99,101,105,1.0);
}
.colour-ft {
  background-color: rgba(55,54,55,1.0);
  color: white;
}
.colour1 {
  background-color:  rgba(38, 149, 195, 1.0); 
  color: white;
}
.colour2 {
  background-color:  rgba(131,40,135,1.0); 
  color: white;
}
.colour3 {
  background-color:  rgba(218,33,39,1.0); 
  color: white;
}
.colour4 {
  background-color:  rgba(38,178,71,1.0); 
  color: white;
}
.content {
  padding: 0px;
  max-width: 2400px;
}
.navbar {
  border-bottom: 1px solid gray;
}
h1 {
  font-family: 'Assistant', sans-serif;
  font-weight: 800;
  font-size: 2.2em;
  text-transform: uppercase;
}
p {
  font-family: 'Assistant', sans-serif;
  font-weight: 300;
  font-size: 1em;
}
.row {
  margin: 0;
}
.text-col {
  height: 450px;
  position: relative;
}
.text-box {
  text-align: center;
  margin: 0;
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  padding: 20px;
}
.img-col {
  padding: 0;
}
.center-img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    height: auto;
    max-height: 450px;
    max-width: 450px;
}
.cover-img {
  object-fit: cover;
  width: 100%;
  height: 450px;
}
.contact-links {
  text-decoration: none;
}
.panel-footer {
  text-align: center;
  padding: 30px 10px 30px 10px;
}

/* The Modal (background) */
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 70px;
  padding-bottom: 120px;
  left: 0;
  top: 90px;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: black;
}

/* Modal Content */
.modal-content {
  position: relative;
  margin: 0 auto;
  padding: 0;
  width: 90%;
  max-width: 1200px;
  background-color: black;
}
.slides {
  padding: 0;
  margin: 0 auto;
  position: relative;
  background-color: black;
}
.thumbs {
  background-color: black;
  padding: 0;
}
/* The Close Button */
.close {
  color: white;
  position: absolute;
  top: 10px;
  right: 25px;
  font-size: 35px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #999;
  text-decoration: none;
  cursor: pointer;
}

/* Hide the slides by default */
.mySlides {
  display: none;
}

/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -50px;
  color: white;
  font-weight: bold;
  font-size: 20px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;
  text-decoration: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
  color: white;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* Caption text */
.caption-container {
  text-align: center;
  background-color: black;
  padding: 2px 16px;
  color: white;
}
#caption {
  font-size: 12pt;
}

img.demo {
  opacity: 0.6;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  height: auto;
  padding-top: 10px;
  padding-bottom: 10px;
}

.active,
.demo:hover {
  opacity: 1;
}



/********** XX large devices only **********/
@media (min-width: 1400px) {
  .center-img {
    max-height: 650px;
    max-width: 650px;
  }
  .cover-img {
    height: 650px;
  }
  .text-col {
    height: 650px;
  }
  h1 {
    font-size: 3em;
  }
  p {
    font-size: 2em;
  }
}

/********** X Large devices only **********/
@media (min-width: 1200px) and (max-width: 1399px) {
  .center-img {
    max-height: 650px;
    max-width: 650px;
    
  }
  .cover-img {
    height: 650px;
  }
  .text-col {
    height: 650px;
  }
  h1 {
    font-size: 2.8em;
  }
  p {
    font-size: 1.8em;
  }
}

/********** Large devices only **********/
@media (min-width: 992px) and (max-width: 1199px) {
  h1 {
    font-size: 3em;
  }
  p {
    font-size: 2em;
  }
}

/********** Medium devices only **********/
@media (min-width: 768px) and (max-width: 991px) {
  h1 {
    font-size: 2.7em;
  }
  p {
    font-size: 1.5em;
  }
}

/********** Small devices only **********/
@media (min-width: 576px) and (max-width: 767px) {
  h1 {
    font-size: 2em;
  }
  p {
    font-size: 1.5em;
  }
}

/********** X Small devices only **********/
@media (max-width: 575px) {
  h1 {
    font-size: 1.5em;
  }
  p {
    font-size: 1.2em;
  }
  .text-box {
    padding: 5px;
  }  
  .text-col {
    height: 250px;
  }
  .center-img {
    max-height: 250px;
    max-width: 250px;
  }
  .cover-img {
    height: 250px;
  }
}
